<div class="bookie-chart-outer">
  {{#if this.hasPoints}}
    <canvas class="bookie-chart-canvas"></canvas>
  {{else}}
    <div class="bookie-chart-empty">
      No data yet — settle a few events first.
    </div>
  {{/if}}
</div>
